################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerce/ECommerce/bin
/ECommerce/ECommerce/obj/Debug
